//DATA//

-
div
  .card
    .card-header
      p.card-header-title
        span.icon
          i.mdi.mdi-account-edit
        | Profile 
    .card-content
      .field
            label.label Profile ID
            .control
              input.input(name="profile-id" id="profile-id")
              button.button.is-primary(name="profile-submit", id="profile-submit") Register
      div(style="width:100%;text-align:center;vertical-align:middle;")
        div(class="dots is-centered" ) 
          div 
          div 
          div 
script(src="static/asset/js/register.js")
