//DATA//

-
  const padded = _.padStart(profile.id.toString(), 8);

div
  .card
    .card-header
      p.card-header-title
        span.icon
          i.mdi.mdi-account-edit
        | Profile 
    .card-content
      .field
            label.label Skill Version Select
            .control
              .select
                select(name="version_select" id="version_select")
      div(style="width:100%;text-align:center;vertical-align:middle;")
        div(class="dots is-centered" ) 
          div 
          div 
          div 
      div.is-centered(id="test" style="text-align: center;")
